.responsive {
  width: 100%;
  height: auto;
}

.white {
  color: #fff;
}

.py-8rem {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pt-8rem {
  padding-top: 8rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.colorBgBk {
  background-color: #000 !important;
  border: #000;
}

.text-black {
  color: #000 !important;
}

.pageAnchorColor {
  color: #0286ca !important;
}

.textBlack {
  color: #000 !important;
}

.bold {
  font-weight: bold;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.left {
  text-align: left !important;
}

.fs-14 {
  font-size: 14px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.right-sm-centre {
  text-align: right;
}

.left-sm-centre {
  text-align: left;
}

.left-1080 {
  text-align: left;
}

.colorBgGrey {
  border-color: #a7a7ad !important;
  background-color: #a7a7ad !important;
}

.colorBk {
  color: #000 !important;
}

.w100 {
  width: 100%;
}

.centre {
  text-align: center;
}

.colorWt {
  color: #fff !important;
}

.s-section h2 {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  color: #000 !important;
  align-items: center;
}

.regBorder {
  padding: 6px 12px 6px;
  border: solid 1px white;
}

.regBorder2 {
  padding: 6px 12px 6px;
  border: solid 1px #0286ca;
  background: #0286ca;
  color: #fff;
}

.colorWt2 {
  color: #fff !important;
}

.colorWt2:hover {
  color: #0286ca !important;
}

.home-content__button {
  position: initial;
}

.s-home::before {
  background: linear-gradient(180deg, #666666 0%, rgba(153, 153, 153, 0) 100%);
}

.s-homeHeaderTextColor {
  color: white !important;
  font-weight: bold;
  font-size: 72px !important;
  line-height: 88px;
  margin-bottom: 24px !important;
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.s-homeTextColor {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold !important;
  font-size: 28px;
  line-height: 49px;
  /* identical to box height */
  width: 100%;
  /* display: flex; */
  align-items: center !important;
  text-align: center !important;
  color: #ffffff !important;
}

.photoTitle {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  display: flex;
  color: #000 !important;
  align-items: center;
}

.photoTitle2 {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #000 !important;
  align-items: center;
}

.photoDesc {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000 !important;
}

.landingSectionCentre {
  text-align: center;
}

.photoWithTextSector {
  padding: 14px;
}

.aboveFooterBtn {
  margin-top: 20px;
  margin-bottom: 160px;
}

.fs18f {
  text-align: center;
  font-size: 18px !important;
}

.fs18 {
  font-size: 18px !important;
}

.topSection {
  margin-top: 100px;
}

.headerBlueText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #0286ca;
}

.mb-7 {
  margin-bottom: 70px;
}

.paddingAdjustedFooter {
  padding-bottom: 36px;
  padding-top: 36px;
}

.footerHeaderText {
  color: #fff;
  font-size: 18px;
}

.footerParaText {
  color: #fff;
  font-size: 14px;
}

/* how to join */
.ballSize {
  width: 100px;
  height: 100px;
}

.ballSize2 {
  position: relative;
  width: 157px;
  height: 157px;
  border-radius: 15rem !important;
}

.inSizeBall1 {
  position: absolute;
  top: 23%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inSizeBallText1 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.inSizeBall2 {
  position: absolute;
  top: 28%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inSizeBallText {
  color: white;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
}

.item-title {
  font-size: 18px !important;
}

.icon .time-line {
  height: 1px;
  width: 40%;
  position: absolute;
  background: lightgrey;
  top: 50px;
  right: -40px;
}

.timeline {
  text-align: center;
}

.icon.timeline h4 {
  height: fit-content;
  margin-bottom: 0px;
}

.paraTextLineHeight {
  line-height: 22px;
  height: 66px;
  margin-bottom: 0px;
}

/* color */

.gold {
  background-color: #d6af36;
}

.silver {
  background-color: #a7a7ad;
}

.bronze {
  background-color: #a77044;
}

/* end of color */

/* pj idea */
.pjIdeaSection {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.pjPara {
  margin-bottom: 0px;
  color: #000000;
}

.pjHeader {
  margin-bottom: 30px;
}

.aboveFooterBtn {
  margin-top: 20px;
  margin-bottom: 160px;
}

.toolsImg {
  width: 150px;
  height: 150px;
}

.peTitle {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.peDesc {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 22px;

  width: 100%;
  text-align: center;
}

.peImgFrame {
  width: 100%;
  text-align: center;
}

.pePadding0 {
  padding: 0px;
}

.p-50 {
  padding-left: 50px;
  padding-right: 50px;
}

/*  get started */
.btn0 {
  margin-top: 17%;
}

.btnStyle {
  font-size: 14px !important;
  width: 100%;
}

.h100 {
  height: 75px !important;
}

.btnBk {
  background-color: #000;
}

.justify {
  text-align: justify;
}

.getStartImg {
  width: 50px;
  height: 50px;
}

.padding-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.bgBlack {
  background-color: #000;
}

.fs-36 {
  font-size: 36px !important;
}

.fs24 {
  font-size: 24px;
}

.timeLineContainer {
  margin: 0 15%;
}

/* contact */
.circleImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.fs14 {
  font-size: 14px !important;
}

.name {
  font-size: 24px;
}

.position {
  font-size: 18px;
}

.icon .time-line49 {
  height: 1px;
  width: 45%;
  position: absolute;
  background: lightgrey;
  top: 16px;
  right: -20%;
}

.pr-8 {
  padding-right: 8px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mt-5-1080 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.right {
  text-align: right !important;
}

@media only screen and (max-width: 800px) {
  .timeline .time-line49 {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .mediaCol-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 46% !important;
    max-width: 30% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .getStartRow {
    margin-top: 65px !important;
    margin-left: 25px !important;
    margin-right: 0px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .col-b-12-1200 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn0 {
    margin-top: 0%;
  }
}

@media only screen and (min-width: 1080px) {
  .d-block-smaller-1080 {
    display: none !important;
  }

  .d-block-bigger-1080 {
    display: block !important;
  }
}

@media only screen and (max-width: 1080px) {
  .d-block-bigger-1080 {
    display: none !important;
  }

  .d-block-smaller-1080 {
    display: block !important;
  }

  .col-12-1080 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px !important;

    /* display: none !important; */
  }

  .left-1080 {
    text-align: center !important;
  }

  .mt-5-1080 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .col-b-12 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 870px) {
  .item-title .icon h4 {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .sponsorImg {
    width: 300px;
    height: 100%;
  }

  .containerPd20 {
    margin: auto;
    /* width: 300px; */
    text-align: center !important;
  }

  .right-sm-centre {
    text-align: center !important;
  }

  .sm-centre {
    text-align: center !important;
  }

  .left-sm-centre {
    text-align: center !important;
  }

  .s-homeHeaderTextColor {
    font-size: 4rem !important;
  }

  .photoDesc {
    font-size: 14px;
  }

  .media12Btn {
    width: 100%;
  }

  .mediaMarginFooter {
    margin-top: 28px;
  }

  .media768FooterImg {
    width: 28px;
  }

  .fs18 {
    font-size: 16px !important;
  }

  .mediaPE_MarFix {
    margin-top: 30px;
  }

  .peFs {
    font-size: 14px;
  }

  .mediaResourceImg {
    text-align: center;
  }

  .mediaResourceText {
    margin-top: 12px;
    text-align: center;
  }

  .getStartRow {
    margin-top: 0px;
    margin-left: 0px;
  }

  .contactPerson {
    text-align: center;
  }

  .mediaMt-5 {
    margin-top: 30px;
  }

  .name {
    font-size: 24px;
  }

  .position {
    font-size: 18px;
  }

  .mediaCol-768-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .fs18-900 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 850px) {
  .inSizeBall1_sp1 {
    position: absolute;
    top: 19%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .inSizeBall2_sp2 {
    position: absolute;
    top: 23% !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 700px) {
  .media768FooterImg {
    width: 18px;
  }

  .mediaToolsPhoto12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .toolsImgMedia1 {
    padding: 0px;
    flex: 0 0 16.666667% !important;
    max-width: 6% !important;
  }
}

@media only screen and (max-width: 414px) {
  .fs18f {
    text-align: center;
    font-size: 9px !important;
    padding: 0;
  }

  .fs18-900 {
    text-align: center;
    font-size: 8px !important;
    padding: 0 4px 0;
  }

  .padding-5 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btnFixfs {
    font-size: 12px !important;
  }
}

.btn-blue {
  color: #fff !important;
  background-color: #0086ca !important;
  border-color: #0086ca !important;
}

.btn-blue:hover {
  color: #fff !important;
  background-color: #27b9f7 !important;
  border-color: #27b9f7 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-theme-sm {
  font-size: 13px;
  font-weight: 600;
  padding: 15px 30px;
}
.btn-white-brd {
  color: #fff;
  background: transparent;
  border-color: #27b9f7;
  border-width: 1px;
}

.btn-theme {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  text-align: center;
  background-image: none;
  border-style: solid;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-white-brd:hover {
  text-decoration: none;
  color: #fff;
  background: #0086ca;
  border-color: transparent;
}
